html {
	height: 100%;
}

body {
	background-color: rgb(78, 90, 102);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	height: 100%;
}

#globalContainer {
	height: 100%;
	opacity: 1;
	transition: opacity .5s ease-in-out;
	display: flex;
	flex-direction: column;
}

.header {
	height: 100px;
	width: 100%;
}

.header p {
	font-size: 40px;
}

.header p {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	color: #FFF;
}

.imagesContainer {
	margin: auto;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.imagesContainer div {
	display: flex;
}

.imagesContainer .imgCell:hover .exImg {
	opacity: 0.5;
	transition: opacity .2s ease-in-out;
}

.exImg {
	display: block;
	margin: auto;
	box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
	transition: all .1s ease-in-out;
	/* border: solid 0px #0F0; */
}

.hoverImg {
	transition: all .3s ease-in-out;
}

.hoverImg:hover {
	transform: scale(1.2);
}

.absBox {
	position: absolute;
	display: flex;
}

.darkFrontDiv {
	background-color: rgb(48, 60, 72);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
}

.darkFrontDiv > p {
	color: white;
	margin: auto;
	font-size: 28px;
}

.darkFrontDiv > img {
	width: 70%;
	margin: auto;
}

.footer {
	padding: 20px;
	text-align: center;
}

.footer button {
	background-color: rgb(53, 64, 74);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.footer button:hover {
	background-color: rgb(81, 98, 114);
}
