html {
	height: 100%;
}

p {
	margin: 0;
}

body {
	background-color: rgb(78, 90, 102);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	height: 100%;
}

#globalContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#header {
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header p {
	font-size: 40px;
}

#header p {
	margin: 0;
	text-align: center;
	color: #FFF;
}

#content {
	display: flex;
	height: 100%;
	justify-content: space-between;
}

#content .selectionArea {
	width: 100px;
	position: relative;
	transition: flex .5s ease-in-out;

}

#content #notManipulatedArea {
	background-color: green;
}

#content #manipulatedArea {
	background-color: red;
}

#content .selectionArea .selectionAreaTextContainer {
	display: flex;
	justify-content: center;
	height: 100%;
}

#content .selectionArea .selectionAreaTextContainer p {
	font-size: 25px;
	writing-mode: vertical-rl;
	color: white;
	text-align: center;
}

#content #notManipulatedArea .selectionAreaTextContainer p {
	transform: rotate(-180deg);
}

#content .selectionArea .selectionAreaImagesContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
}

#content .selectionArea .selectionAreaImagesContainer > div {
	margin-top: 5px;
	position: relative;
}

#content .selectionArea .selectionAreaImagesContainer img {
	max-width: 80px;
	display: block;
}

#content .selectionArea .selectionAreaImagesContainer div.answerContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#content .selectionArea .selectionAreaImagesContainer div.answerContainer img {
	width: 40px;
}

#content .selectionArea .selectionAreaImagesContainer div.rightAnswerContainer {
	background-color: rgba(0,255,0,0.4);
}

#content .selectionArea .selectionAreaImagesContainer div.wrongAnswerContainer {
	background-color: rgba(255,0,0,0.4);
}

#content .selectionArea .selectionAreaImagesContainer div.wrongAnswerContainer img {
	filter: invert(1);
}

#graphDiv {
	margin-left: 15%;
	width: 70%;
	border: solid 1px white;
	padding-top: 10px; /* TBR */
}

#footer {
	padding: 20px;
	text-align: center;
}

#footer button {
	background-color: rgb(53, 64, 74);
	border: none;
	color: white;
	padding: 15px 32px;
	font-size: 16px;
}
